main#cartProduct{
    margin-top: 6rem;
}
#carrito{
    justify-content: space-around;
    border: 5px double #401233;
}
#titulo{
    border-bottom: 1px solid #401233;
    color: #401233;
}
.card{
    border: none;
}
div.card-body{
    margin-top: 4rem;
}
div#columna{
    display: flex;
    margin-top: 6.5rem;
}
#sumar-restar-item{
    font-weight: 1000;
    border-radius: .5rem;
    padding: .05rem .75rem;
    color: #401233;
    background-color: #fffffd;
    border: 2px solid #401233;
}
div span input{
    max-width: 2rem;
}
table.table{
    width: 50%;
}
#botonEliminar:hover{
    color: #050705;
    background-color: #401233;
}
#total{
    color: #401233;
}
#totalCompra{
    font-size: 1.2rem;
}

.btn-primary#empty-cart{
    font-family: 'Noto Sans', sans-serif;
    color: #050705;
    background-color: #b3b5af;
    border-color: #b3b5af;
}

@media screen and (max-width: 576px){
    div.card-body{
        margin-top: 1rem;
    }
    div#columna{
        margin-top: 1rem;
    }
    td select{
        width: 25vw;
    }
    img.card-img{
        max-width: 8rem;
    }
}