#main{
    position: relative;
    margin: 15px 0px;
}
#titulo{
    text-align: center;
    text-decoration: underline;
    color: #fffffd;
    background-color: #401233;
    font-size: 2rem;
    border-radius: 20px;
}
#vinos{
    flex-flow: row wrap;
    justify-content: space-around;
}
#oferta{
    right: 30px;
    top: 20px;
    position: absolute;
    width: 25%;
}

section article div#articulo{
    text-align: center;
    border: 1px solid #401233;
    border-radius: 15px;
    margin: 5px 0px;
    padding-bottom: 5px
}