<!--Footer-->
<footer id="pie" class="container-fluid d-flex">
    <div class="lista" id="faq">
        <ul>
            <h3>Ayuda</h3>
            <li data-toggle="modal" data-target="#enviosmodal" id="envios">Envios</li>
            <li data-toggle="modal" data-target="#faqmodal" id="faq">Preguntas Frecuentes</a></li>
            <li type="modal" id="terminos-condiciones" data-toggle="modal" data-target="#terminos">
                Términos y Condiciones</li>
        </ul>
        <!--Modal envios-->
        <div id="enviosmodal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Formas de Envio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                        <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod saepe voluptatum repudiandae non tenetur illo dicta accusamus enim possimus odit, ratione dignissimos ad animi neque quis voluptatibus! Quia, eum odio.</a>
                        <br>
                        <br>
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                        <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod saepe voluptatum repudiandae non tenetur illo dicta accusamus enim possimus odit, ratione dignissimos ad animi neque quis voluptatibus! Quia, eum odio.</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        id="cerrarfaq">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal Faq-->
        <div id="faqmodal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Formas de Envio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>Pregunta 1</h5>
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur cupiditate necessitatibus eligendi beatae dolorem in facilis aliquid assumenda voluptatum alias nemo rerum accusamus neque, saepe ratione ipsum, quam repellendus mollitia.</a>
                        <br>
                        <h5>Pregunta 1</h5>
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur cupiditate necessitatibus eligendi beatae dolorem in facilis aliquid assumenda voluptatum alias nemo rerum accusamus neque, saepe ratione ipsum, quam repellendus mollitia.</a>
                        <br>
                        <h5>Pregunta 3</h5>
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur cupiditate necessitatibus eligendi beatae dolorem in facilis aliquid assumenda voluptatum alias nemo rerum accusamus neque, saepe ratione ipsum, quam repellendus mollitia.</a>
                        <br>
                        <h5>Pregunta 4</h5>
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur cupiditate necessitatibus eligendi beatae dolorem in facilis aliquid assumenda voluptatum alias nemo rerum accusamus neque, saepe ratione ipsum, quam repellendus mollitia.</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        id="cerrarfaq">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Términos y Condiciones -->
        <div class="modal fade" id="terminos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Terminos y Condiciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ab commodi excepturi
                            corporis minus veniam eum magnam eius nesciunt. Id esse saepe vero quasi aliquid libero
                            ad quo, ratione laboriosam. Quas alias vero placeat ratione temporibus, autem natus
                            officia eos ullam, veniam, ad earum voluptate pariatur dolorum impedit! Veniam placeat
                            nostrum error perspiciatis, ex consectetur obcaecati quod voluptas voluptatum autem
                            dolore, inventore ad, expedita reiciendis illo minus omnis quas? Quas quam iste velit
                            nobis beatae eaque est culpa explicabo expedita reiciendis, recusandae numquam quod
                            tempore temporibus quibusdam delectus aut similique? Sint placeat assumenda tenetur, vel
                            iure veniam quidem voluptas libero fugit itaque omnis ex sit. Accusamus recusandae modi
                            ab, cum repellendus facilis est? Qui repellendus maxime repudiandae inventore illum
                            rerum cum eveniet cupiditate, quisquam exercitationem laborum dolorem distinctio modi
                            neque temporibus quae et aut deleniti dignissimos voluptate quaerat quam ipsum. Rem
                            error sint sequi dicta, ullam voluptates enim non deleniti tempore illo ducimus, magnam
                            doloremque vero quaerat asperiores culpa voluptate. Reiciendis veniam provident sint?
                            Voluptatibus incidunt autem rem, vitae suscipit nemo, aut voluptas atque sint voluptatem
                            ratione amet possimus exercitationem! Distinctio iusto quod nisi aut, dolor eius eaque,
                            illo dolores impedit voluptatem, harum veritatis corrupti rem ipsam. Quos nostrum
                            expedita ipsa nesciunt error accusantium tenetur natus officia perferendis, quam magni.
                            Est incidunt consequuntur voluptate maiores, adipisci repudiandae accusantium quibusdam
                            quo libero dignissimos soluta aperiam nihil a sapiente voluptatibus eius et. Veritatis
                            aut adipisci dolorem in repellendus! Distinctio dolorem laborum dicta unde! Explicabo
                            beatae distinctio aut, facere, esse fugit nihil praesentium vitae eaque officiis harum
                            qui consequatur eveniet? Sunt quasi fugit nulla ex, repellat alias necessitatibus,
                            deserunt molestiae quas ducimus rem ullam saepe provident similique eius illum maxime
                            iste laborum, ut non sapiente aliquid fugiat. Dicta repudiandae modi voluptatibus
                            molestias, rem nulla odio nisi aut incidunt quia tempore? Nesciunt magni, voluptates ut
                            iste quia error repellendus deleniti dignissimos tempora iure excepturi est autem minima
                            ipsum. Nobis enim tempora aliquam est, eum quod, exercitationem maxime deleniti libero
                            rerum veritatis molestias ipsa quidem reiciendis, dolor deserunt reprehenderit?
                            Doloremque porro neque praesentium iusto illum corrupti quo sunt fugit non
                            necessitatibus in, iure voluptas quas ratione vero distinctio velit? Molestiae velit ex
                            est eaque dolores aperiam quod nemo earum ipsa assumenda corporis, alias, possimus
                            nesciunt dolorum iste pariatur repellat eos laborum voluptate perspiciatis deserunt!
                            Maiores magni dolore neque nemo consequatur delectus ipsa ex. Incidunt nemo, fuga quam
                            accusantium eligendi dicta expedita animi vel, itaque recusandae quaerat exercitationem
                            error ipsa reiciendis sit culpa laudantium sunt repellendus perspiciatis non sint,
                            similique ad magni est! Dolorem tempore eos veritatis consectetur, possimus ad omnis rem
                            eveniet aliquam non, voluptates minus id expedita ipsum ipsa vel eligendi quas placeat
                            maiores eum! Fugit natus rem consequatur autem neque tenetur, ducimus molestiae sed
                            ullam dolorem animi reiciendis, eligendi soluta suscipit consectetur tempore quod, quasi
                            molestias fuga obcaecati eos distinctio! Corrupti dolore quas autem, odio, saepe, unde
                            molestiae beatae impedit eligendi consectetur iusto. Quae dignissimos cupiditate veniam
                            inventore sint commodi dolorum similique doloribus voluptatem officia quia error sed,
                            possimus rerum doloremque enim pariatur? Id rem sunt nihil architecto odit facilis
                            veniam optio illum ipsa odio nulla, corrupti et ab ipsum accusantium explicabo pariatur,
                            fugiat ullam. Facere quia autem obcaecati. Ullam minima exercitationem sit illum itaque
                            tempore ab, enim quis magni perferendis sapiente quo nisi necessitatibus corrupti
                            voluptatum consequatur aspernatur quaerat reprehenderit vel quod eaque hic! Cupiditate
                            eum quidem ipsam. Consequuntur quaerat dicta quas molestias recusandae, delectus quidem
                            adipisci officia, omnis est voluptas voluptate, corporis repudiandae obcaecati
                            consequatur sit facilis animi non? Ullam, commodi? Tempora, accusantium corporis
                            molestiae reiciendis dolore nisi culpa neque unde autem? Obcaecati laborum corporis
                            sequi id enim alias ex sed, quo officia consectetur commodi nostrum distinctio
                            perferendis nihil veritatis repudiandae. Sit sint sequi quis ea iste, praesentium minima
                            corrupti laudantium commodi, recusandae dignissimos fugiat eligendi magni, unde
                            aspernatur. Reprehenderit officiis at assumenda sed delectus fugiat vero laborum
                            quaerat, labore laboriosam dolorum eum ipsam consequatur consequuntur praesentium natus
                            mollitia facere, veniam nesciunt eveniet facilis minima nulla. Ratione voluptatibus
                            neque commodi, quam porro provident. Sunt, ut eligendi. Sunt eum est exercitationem
                            numquam, omnis nihil atque veniam quas itaque vel, perspiciatis unde. Consectetur vitae
                            aliquam, voluptate accusantium eum at perspiciatis iusto saepe quas atque! Omnis, nihil
                            ea quisquam harum facere alias ipsam quibusdam sequi similique ratione debitis voluptas
                            inventore ex cupiditate minima hic aliquam ab? Aliquam quis pariatur, quasi quae
                            consequatur doloribus doloremque voluptates debitis sint libero, unde eos, animi veniam
                            iste! Ratione temporibus cum omnis. Voluptatum, illum fugiat in fuga numquam doloremque
                            sed similique praesentium, laborum tenetur explicabo velit sunt laudantium iste facere
                            sapiente quidem ratione, eveniet officiis ipsum ab vel quod. Quaerat, doloribus qui.
                            Error enim hic nemo voluptas dignissimos expedita ducimus, repudiandae ab? Laborum
                            dolorum corporis cum rerum, id est velit sunt a labore magni animi eligendi excepturi,
                            amet corrupti. Doloribus nemo molestias tempora eos recusandae, esse animi sapiente et
                            reprehenderit aperiam saepe ex eius totam, pariatur labore maiores officia quisquam
                            culpa soluta quas cumque magni corporis, earum distinctio. Veniam magni distinctio nobis
                            consectetur, impedit reiciendis voluptate non architecto excepturi recusandae quos nulla
                            accusantium aut culpa, voluptatum nostrum voluptates illo provident suscipit fugiat enim
                            alias. Quod, expedita dolores doloribus dolor minima doloremque. Quisquam alias rem
                            illum mollitia odio cum sit facere, minus iure recusandae consequatur dignissimos et ab
                            at totam. Voluptas, illum quisquam! Reiciendis facere illo qui? Officiis facilis quaerat
                            repudiandae aspernatur, ex minus dolor numquam alias dicta nesciunt vero non?
                            Necessitatibus, molestias deserunt iste laboriosam perspiciatis ratione, illum
                            voluptates porro blanditiis maiores impedit? Accusamus, molestias necessitatibus saepe
                            dignissimos eum distinctio eius vitae magnam, nam repudiandae consequatur dicta ab,
                            commodi iure facere aperiam maiores unde. Beatae, temporibus vero. Enim veritatis, quod
                            suscipit soluta animi consectetur laboriosam non, cum ut porro laborum qui eligendi
                            assumenda accusantium perferendis aliquam obcaecati quis cumque quas deserunt. Odit sed
                            voluptas voluptatum! Placeat blanditiis ipsa facere, amet quia tenetur ducimus, odit
                            consequatur perferendis assumenda necessitatibus consectetur dolore aperiam vero eveniet
                            iusto nobis fugiat nisi sapiente ullam, animi magnam libero. Autem est dignissimos culpa
                            iste suscipit similique optio fugiat, magnam a ullam libero repellendus. Temporibus,
                            libero voluptatem!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="cerrar">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Boton Contacto -->
    <button type="button" class="btn btn-primary" id="contacto" data-toggle="modal" data-target="#staticBackdrop">
        Contactenos
    </button>

    <!-- Modal Contacto -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Contactenos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" class="contacto">
                        <div class="form-group">
                            <label for="nombre-completo">Nombre completo</label>
                            <input type="text" class="form-control" id="nombre-completo" checked>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" checked>
                        </div>
                        <div class="form-group">
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" id="mensaje" cols="30" rows="5"
                                class="form-control"></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cerrar" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" id="confirmar"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="lista" id="redes">
        <ul>
            <h3>Seguinos</h3>
            <li><a href="https://www.instagram.com">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            <li><a href="https://www.facebook.com">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
            <li><a href="https://www.twitter.com">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
        </ul>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/master.js"></script>