<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/detalle_producto.css">
        </head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <!--Detalle de Producto-->
    
    <main class="container-fluid" id="principal">
        <div class="row">
            <div class="col-12 col-md-4">
                <figure>
                    <img src="/img/1_big.jpeg" alt="Vino">
                </figure>
                <h6 id="titulo_valor">Precio por Unidad <span id="precio">$ 480</span></h6>               
                <h6 id="titulo_valor">Disponibilidad: En Stock</h6>
                <h6 id="titulo_valor">Contenido: 750 ml</h6>
                <form id="comprar" action="" method="">
                    <label for="cantidad">Cantidad:</label>
                    <input id="cantidad" type="text" name="cantidad" value="1">
                    <br>
                    <button type="submit" class="btn btn-primary" id="comprar">AGREGAR AL CARRITO</button>
                </form>
            </div>
            <div class="col-12 col-md-8 info">
                <h1>Nombre del Vino</h1>
                <h4>VARIETAL</h6>
                    <p class="descripcion">DESCRIPCIÓN: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsa tempora labore, recusandae consequatur officiis illum accusamus quidem quaerat quod nostrum facere doloremque facilis architecto ea culpa magni animi reprehenderit quia necessitatibus. Ex eum optio dolore praesentium sit amet debitis non, explicabo exercitationem modi consequatur! Eum dolor quasi dicta suscipit, omnis vitae pariatur similique, labore consequatur magni, possimus debitis unde quae at quidem! Ab, illo ipsum et quisquam explicabo quibusdam nobis mollitia, exercitationem qui dolorem eligendi, esse ducimus illum aliquid.</p>
                    
                    
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        FICHA TÉCNICA >>
                                    </button>
                                </h2>
                            </div>
                            
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">BODEGA</th>
                                                <td>Catena Zapata</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">PROCEDENCIA</th>
                                                <td>Mendoza</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">TIPO</th>
                                                <td>Vino Tinto</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">VARIETAL</th>
                                                <td>Blend</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CORTE</th>
                                                <td>90% Malbec / 6% Cabernet Sauvignon / 4% Petit Verdot</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">COSECHA</th>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">ALCOHOL</th>
                                                <td>13%</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">ELABORACIÓN</th>
                                                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore quisquam, labore distinctio impedit sit accusantium repudiandae ipsam? Reiciendis, nihil asperiores?</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CRIANZA</th>
                                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quis ipsum doloremque adipisci rem. Nesciunt incidunt sunt, dolores magnam saepe aperiam eos culpa. Reprehenderit autem molestias quaerat cumque saepe voluptatibus.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        DATOS DEL ENVÍO >>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        CALIFICACIONES >>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="tab-pane row">
                <h2 class="col-12" id="titulo">TAMBIÉN PODRÍAN INTERESARTE</h2>
                <article class="col-12 col-md-6 col-lg-3">
                    <div>
                        <img src="/img/1_small.jpeg" alt="producto">
                        <h6>NICASIA VINEYARDS RED BLEND</h6>
                        <h6>Catena Zapata</h6>
                        <h4>$480</h4>
                        <h6>3 cuotas de $160</h6>
                        <a href="/cart" class="btn btn-primary" id="comprar">Comprar</a>
                        <a href="/producto/detalle" class="btn btn-primary" id="verMas">Ver Más</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 col-lg-3">
                    <div>
                        <img src="/img/2_small.jpeg" alt="producto">
                        <h6>EL ENEMIGO MALBEC</h6>
                        <h6>Aleanna</h6>
                        <h4>$1300</h4>
                        <h6>3 cuotas de $433,33</h6>
                        <a href="/cart" class="btn btn-primary" id="comprar">Comprar</a>
                        <a href="/producto/detalle" class="btn btn-primary" id="verMas">Ver Más</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 col-lg-3">
                    <div>
                        <img src="/img/3_small.jpeg" alt="producto">
                        <h6>TRUMPETER MALBEC</h6>
                        <h6>Rutini Wines</h6>
                        <h4>$464</h4>
                        <h6>3 cuotas de $154,67</h6>
                        <a href="/cart" class="btn btn-primary" id="comprar">Comprar</a>
                        <a href="/producto/detalle" class="btn btn-primary" id="verMas">Ver Más</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 col-lg-3">
                    <div>
                        <img src="/img/4_small.jpeg" alt="producto">
                        <h6>CASA BOHER MALBEC</h6>
                        <h6>Rosell Boher</h6>
                        <h4>$590</h4>
                        <h6>3 cuotas de $196,67</h6>
                        <a href="/cart" class="btn btn-primary" id="comprar">Comprar</a>
                        <a href="/producto/detalle" class="btn btn-primary" id="verMas">Ver Más</a>
                    </div>
                </article> 
            </section>
        </main>
        
        <!--Fin Detalle de Producto-->
        
        <%- include('../partials/footer.ejs') %>
</body>
</html>