<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/agregarProducto.css">
    <title>Bienvenido a Winehouse</title>
</head>
<body>
    
    <!--header y nav bar-->
    <div class="container-fluid fixed-top">
        <nav class="navbar navbar-dark row">
            
            <div>
                <!--Boton burger-->
                <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>                       
                <a class="navbar-brand" href="/"><img id="logo" src="/img/Logo - WineHouse 4.jpg" alt="WineHouse"></a>
            </div>
            
            <!--Búsqueda / Login / Carrito-->
            <div class="iconos-nav">
                <form action="" class="form-inline">
                    <input class="form-control collapse" id="busqueda" type="search" placeholder="Buscar...">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#busqueda" aria-controls="busqueda" aria-expanded="false" aria-label="Toggle navigation">
                        <img id="lupa" src="/img/585e4ad1cb11b227491c3391.png" alt="busqueda">
                    </button>
                </form>
                <!--Boton Login-->
                <button type="button" class="navbar-toggler" data-toggle="modal" data-target="#loginModal">
                    <img src="/img/usuario.png" id="usuario" alt="Login">
                </button>  
                <a href="/cart"><img id="barrica" src="/img/barrica.png" alt="Carrito de Compras"></a>
            </div>
            
        </nav>
    </div>
    <!--Menu Login--> 
    <div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="menu-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Ingrese a su cuenta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/login" id="login">
                        <div class="form-group">
                            <label for="email">Ingrese su email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="password">Ingrese su contraseña</label>
                            <input type="password" class="form-control" id="password">
                            <small id="passwordHelp" class="form-text text-muted"><a href="">No recuerdo mi contraseña</a></small>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                        </div>
                    </div>
                    <div class="modal-footer" id="pieModal">
                        <p>Aun no poseo cuenta. <a href="/register">Registrarme</a></p>
                        <button type="submit" class="btn btn-primary" id="confirmar">Iniciar Sesion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Menu Ppal-->  
    <div class="modal" id="navbarSupportedContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-sm" id="menu_ppal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/img/Logo - WineHouse 4.jpg" alt="WineHouse">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="menu">
                        <li>
                            <a href="/vinosTintos">Vinos Tintos</a>
                        </li>
                        <li>
                            <a href="/vinosBlancos">Vinos Blancos</a>
                        </li>
                        <li>
                            <a href="/vinosRosados">Vinos Rosados</a>
                        </li>
                        <li>
                            <a href="/vinosEspumantes">Vinos Espumantes</a>
                        </li>
                        <li>
                            <a href="/espirituosos">Espirituosos</a>
                        </li>
                        <li>
                            <a href="/paraBrindar">Para Brindar</a>
                        </li>
                        <li>
                            <a href="/masVendidos">Más Vendidos</a>
                        </li>
                        <li>
                            <a href="/recomendados">Recomendados</a>
                        </li>
                        <li>
                            <a href="/promos">Ofertas y Promociones</a>
                        </li>
                        <li>
                            <a href="/quienesSomos">Quienes Somos</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer footer-menu-ppal">
                    <ul class="menu">
                        <li><a href="/admin/agregar1">Agregar Nuevo Producto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!--header y navBar FIN-->
    
    <!--Formulario Carga Producto Parte 2-->
    
    <main class="container">
        <h2 class="titulo">Nuevo Producto<span class="badge badge-primary">Paso 2 de 3</span> </h2>
        <form action="">
            <div class="form-group">
                <label for="bodega">BODEGA</label>
                <input type="text" class="form-control" name="bodega" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="varietal">VARIETAL</label>
                    <input type="text" class="form-control" name="varietal" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="cosecha">COSECHA</label>
                    <select class="form-control" name="cosecha" id="" required>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="corte">CORTE</label>
                <input type="text" class="form-control" name="corte" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="procedencia">PROCEDENCIA</label>
                    <input type="text" class="form-control" name="procedencia" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="alcohol">ALCOHOL</label>
                    <div class="input-group-append">
                        <input type="text" class="form-control" name="alcohol" placeholder="00.0" required>
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <div class="btn-siguiente">
                <a href="./agregar3"><button type="button" class="btn btn-primary" id="siguiente">SIGUIENTE >></button></a>
            </div>            
        </form>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/ionicons@5.1.0/dist/ionicons.js"></script>
</body>
</html>