<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include('../partials/head.ejs') %>
    </head>
<body>
    <%- include('../partials/header.ejs')  %>
    <main style="text-align: center; margin-top: 100px;" class="container-fluid">
        <figure><img src="/img/AccesoDenegado-Grande.png" alt="Acceso Denegado"></figure>
        <h1>ACCESO NO AUTORIZADO</h1>
        <br>
        <h4>Debe solicitar permiso al Administrador del sistema</h2>
    </main>
    
    <%- include('../partials/footer.ejs')  %>
</body>
</html>