<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/quienes.css">
    </head>
<body>
    
    <%- include('../partials/header.ejs')  %>
    <main id="somos" class="container-fluid">
        <h1 id="tituloSomos">Somos Winehouse</h1>
        <br>
        <h2>Objetivos y Temática del sitio</h2>
        <p id="parrafoSomos">La plataforma de E-Commerce WineHouse tiene como objetivo principal convertirse en un nexo entre las principales bodegas de Argentina y potenciales consumidores finales (el esquema de negocios será B2C). Las dos principales metas de la plataforma serán en primer lugar, dar a conocer entre los consumidores la variada oferta de vinos y espumantes existente. En segundo lugar, lograr su fidelización a la plataforma al crear una base de consumidores interesados en los productos que comercializa y a la vez crear una comunidad de consumidores.</p>
        <br>
        <h2 id="subtituloSomos">Público Objetivo</h2>
        <p id="parrafoSomos">El público objetivo al que apunta el sitio se divide en dos tipos.</p>
        <p id="parrafoSomos"> <span style="font-weight: bold;">Expertos</span>  Se considera experto en la elección del vino y en responder a toda la experiencia que implica consumirlo. Les gusta recomendar y llevar vinos a las reuniones sociales. Los expertos, según lo explorado en la etapa cuantitativa, son mayoritariamente hombres de los niveles más altos.</p>
        <p id="parrafoSomos"><span style="font-weight: bold;">Pragmáticos</span> Detenta un saber más acotado, suficiente para saber elegir el vino para cada ocasión. El vino no representa una experiencia en sí misma sino el gran articulador de un momento de placer cotidiano o una juntada con amigos. Buscan vinos que puedan satisfacer la ecuación precio-calidad y entienden que no por buen vino tiene que ser caro. El pragmático es una persona “indiferente a las nuevas tendencias”, es decir que no sigue las modas, sino que realiza sus elecciones según su conveniencia, practicidad y gusto. Uno de las principales maneras de clasificar al vino es por rango de precio, ya que de esta manera facilita la elección del mismo.</p>
        <p id="parrafoSomos">Se ha elegido a estos dos grupos de consumidores principalmente porque son los que se estima que tendrán mayor tendencia a retornar al portal.</p>
    </main>
    
    <%- include('../partials/footer.ejs')  %>
</body>
</html>